SECRET_KEY=reemplazar-con-string-aleatorio-largo
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,gtea.ezarr.rocks
DB_NAME=gtea_db
DB_USER=gtea_user
DB_PASSWORD=reemplazar-con-password-seguro
DB_HOST=db
DB_PORT=3306
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost,https://agpcrk7lajnvgv7o2nvbyt5e.torpid.iokoia.com
CORS_ALLOWED_ORIGIN_REGEXES=^https://.*\.torpid\.iokoia\.com$
CSRF_TRUSTED_ORIGINS=https://*.torpid.iokoia.com
